apiVersion: apps/v1
kind: Deployment
metadata:
  name: ticket-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ticket-service
  template:
    metadata:
      labels:
        app: ticket-service
    spec:
      containers:
      - name: ticket-service
        image: m311/ticket-service:1.0
        env:
        - name: DB_HOST
          value: postgres
        - name: DB_NAME
          value: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: ticket-service
spec:
  type: NodePort
  selector:
    app: ticket-service
  ports:
  - port: 5001
    targetPort: 5001
    nodePort: 30081
